.app-title {
    text-align: center;
    color: white;
    font-size: 70px;
}

.add {
    text-align: center; 
}

.input-text {
    display: inline;
    border: none;
    border-radius: 0.4rem;
    padding: 10px;
}


.add-btn {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #7313cb;
    margin: 20px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
}


.container {
    color: white;
    max-width: 500px;
    margin: auto;
}

ul {
    padding-inline-start: 0px;
}

.list ul li {
    text-decoration: none;
    color: black;
    background-color: white;
    line-height: 35px;
    border-radius: 0.4rem;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
    
}

.list ul li button {
    position: absolute;
    right: 0%;
    background: #f34541; 
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
}
