<h1 class="app-title">{{title}}</h1>
      
<br>
    <div class="add">
      <input type="text"
      class = "input-text"
      placeholder="Enter a ToDo"
      (keyup.enter) = "addItem()"
      [(ngModel)] = "todoValue"
      />

      <button class="add-btn" (click)="addItem()">Add</button>
    </div>

    <div class="container" >
      <div class="list">
        <ul>
          <li *ngFor="let item of list">
            <input type="checkbox" name="isDone" 
            [(ngModel)]="item.isDone"
            />
            {{item.value}}
            <button class="btn" (click)="deleteItem(item.id)">Delete</button>
          </li>
        </ul>
      </div>

    </div>

