<div>
    <div class="container" >
      <h1 class="app-title"> ToDo App</h1>
      
      Hello {{name}}
      
      <br>

      <input type="text"
      class = "input-text"
      placeholder="Enter a ToDo"
      (keyup.enter) = "addItem()"
      [(ngModel)] = "todoValue"
      />

      <button class="add-btn" (click)="addItem()">Add</button>

      <div class="list">
        <ul>
          <li *ngFor="let item of list">
            <input type="checkbox" name="isDone" 
            [(ngModel)]="item.isDone"
            />
            {{item.value}}
            <button class="btn" (click)="deleteItem(item.id)">Delete</button>
          </li>
        </ul>
      </div>

    </div>
</div>
